//Tipografica
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

$fuente_principal: 'Space Mono', monospace;
// colores
$negro: #000000;
$blanco: #ffffff;
// Colores principales
$cian-f: hsl(172, 67%, 45%);
$cian-mo: hsl(183, 100%, 15%);
$cian-go: hsl(186, 14%, 43%);
$cian-g: hsl(184, 14%, 56%);
$cian-gc: hsl(185, 41%, 84%);
$cian-gmc: hsl(189, 41%, 97%);
$error: #b47c6d;

$movil: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
