@use 'base/variables' as v;

.bill_input,
.people {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 30rem;

	img {
		position: absolute;
		left: 10rem;
	}

	input {
		width: 100%;
		padding: 10rem;
		text-align: right;
		border: none;
		background-color: v.$cian-gmc;
		border-radius: 5rem;
		cursor: pointer;
		caret-color: v.$cian-f;

		&[type]:focus {
			border-color: v.$cian-f;
			box-shadow: 0 0px 0px v.$cian-f inset, 0 0 6px v.$cian-f;
			outline: 0 none;
		}

		&[type]::placeholder {
			color: v.$cian-mo;
		}
	}
}

.detail {
	display: flex;
	justify-content: space-between;
}

.error {
	color: v.$error;
	visibility: hidden;
}

.errorActive {
	visibility: inherit;

	input {
		border: 2px solid v.$error;

		&[type]:focus {
			border-color: v.$error;
			box-shadow: 0 0px 0px v.$error inset, 0 0 6px v.$error;
			outline: 0 none;
		}
	}
}
